parameters:
  level: max
  paths:
  - src
  - tests
  reportUnmatchedIgnoredErrors: false # As long as we support multiple Laravel versions at once, there will be some dead spots
  ignoreErrors:
  # PHPStan does not believe interfaces can define magic properties
  - '#Access to an undefined property .*MLL\\LaravelUtils\\ModelStates\\HasStateManagerInterface::\$stateManager\.#'
  - '#Access to an undefined property .*MLL\\LaravelUtils\\ModelStates\\HasStateManagerInterface::\$state\.#'
  # Install https://plugins.jetbrains.com/plugin/7677-awesome-console to make those links clickable
  editorUrl: '%%relFile%%:%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
