parameters:
  # https://github.com/spaze/phpstan-disallowed-calls/blob/main/docs/custom-rules.md
  disallowedClasses:
  - class: 'Illuminate\Support\Carbon'
    message: 'it is mostly just an alias.'
    errorTip: 'use Carbon\Carbon instead.'
  disallowedMethodCalls:
  - method: 'Illuminate\Database\Eloquent\Model::update()'
    message: 'it assigns attributes through an array and is not type safe, without parameters it is like save().'
    errorTip: 'Assign attributes through property assignment, then call save(). If your intention was to not save new models, check $exists explicitly.'
  - method: 'Illuminate\Database\Eloquent\Model::load()'
    message: 'eager-loading on single Model instances makes no sense.'
    errorTip: 'Use eager-loading on Eloquent Collection instances.'
  - method: 'Illuminate\Database\Eloquent\Model::loadMissing()'
    message: 'eager-loading on single Model instances makes no sense.'
    errorTip: 'Use eager-loading on Eloquent Collection instances.'
  - method: 'Illuminate\Database\Eloquent\Relations\HasOneOrMany::inverse()'
    message: 'it is an alias for chaperone().'
    errorTip: 'Use chaperone() instead.'
  - method: 'Illuminate\Database\Eloquent\Factories\Factory::createOne()'
    message: 'creating or filling models through arrays prevents static validation from working.'
    errorTip: 'Call createOne() without any parameters, use property assignment to fill the model.'
    allowExceptParamsAnyValue:
    - position: 1
      name: 'attributes'
  - method: 'Illuminate\Database\Eloquent\Factories\Factory::makeOne()'
    message: 'creating or filling models through arrays prevents static validation from working.'
    errorTip: 'Call makeOne() without any parameters, use property assignment to fill the model.'
    allowExceptParamsAnyValue:
    - position: 1
      name: 'attributes'
  - method: 'Illuminate\Database\Eloquent\Factories\Factory::create()'
    message: 'creating or filling models through arrays prevents static validation from working.'
    errorTip: 'Call create() without any parameters, use property assignment to fill the model.'
    allowExceptParamsAnyValue:
    - position: 1
      name: 'attributes'
  - method: 'Illuminate\Database\Eloquent\Factories\Factory::make()'
    message: 'creating or filling models through arrays prevents static validation from working.'
    errorTip: 'Call make() without any parameters, use property assignment to fill the model.'
    allowExceptParamsAnyValue:
    - position: 1
      name: 'attributes'
  - method: 'Illuminate\Support\Collection::toArray()'
    message: 'because it is inefficient and provides no type inference'
    errorTip: 'Use all() instead.'
  - method: 'Illuminate\Support\Collection::flatten()'
    message: 'because it provides no type inference.'
    errorTip: 'Use Illuminate\Support\Collection::flatMap() or MLL\LaravelUtils\Collection\CollectionUtils::flattenOnce() instead.'
  - method: 'Illuminate\Support\Collection::where()'
    message: 'because it might be not type safe.'
    errorTip: 'Use filter()/reject() instead.'
  - method: 'Illuminate\Support\Collection::pluck()'
    message: 'because it is not type safe.'
    errorTip: 'Use map() instead.'
  - method: 'Illuminate\Support\Collection::keyBy()'
    message: 'because string keys are not type safe.'
    errorTip: 'Use a closure instead: ->keyBy(fn (Model $item): string => $item->attribute)'
    allowParamsAnywhere:
    - position: 1
      name: 'keyBy'
      typeString: 'Closure'
  - method: 'Illuminate\Support\Collection::sortBy()'
    message: 'because string keys are not type safe.'
    errorTip: 'Use a closure instead: ->sortBy(fn (Model $item): string => $item->attribute)'
    allowParamsAnywhere:
    - position: 1
      name: 'callback'
      typeString: 'Closure'
  - method: 'Illuminate\Support\Collection::sortByDesc()'
    message: 'because string keys are not type safe.'
    errorTip: 'Use a closure instead: ->sortByDesc(fn (Model $item): string => $item->attribute)'
    allowParamsAnywhere:
    - position: 1
      name: 'callback'
      typeString: 'Closure'
  - method: 'Illuminate\Support\Collection::groupBy()'
    message: 'because string keys are not type safe.'
    errorTip: 'Use a closure instead: ->groupBy(fn (Model $item): string => $item->attribute)'
    allowParamsAnywhere:
    - position: 1
      name: 'groupBy'
      typeString: 'Closure'
  - method: 'Illuminate\Support\Collection::firstWhere()'
    message: 'because string keys are not type safe.'
    errorTip: 'Use first() with a closure instead: ->first(fn (Model $item): bool => $item->attribute === $value)'
  - method: 'Illuminate\Support\Collection::get()'
    message: 'because string keys are not type safe.'
    errorTip: 'Use find() for models, or access the underlying array.'
    allowExceptParams:
    - position: 1
      name: 'key'
      typeString: 'string'
  - method: 'Illuminate\Testing\TestResponse::dump()'
    message: 'it is used for debugging.'
    errorTip: 'Remove debugging code before committing.'
  disallowedFunctionCalls:
  - function: 'getenv()'
    message: 'it does not consider the .env file.'
    errorTip: 'Use env() instead.'
  - function: 'optional()'
    message: 'it undermines type safety.'
    errorTip: 'Use the null safe operator ?-> instead.'
  disallowedStaticCalls:
  - method: 'Illuminate\Database\Eloquent\Builder::create()'
    message: 'creating or filling models through arrays prevents static validation from working.'
    errorTip: 'Assign attributes through property assignment.'
    allowExceptParamsAnyValue:
    - position: 1
      name: 'attributes'
  - method: 'Illuminate\Support\Facades\Event::fake()'
    message: 'you MUST limit which events to fake so model events still work.'
    errorTip: 'Use Event::fake(MyEvent::class) instead.'
    allowParamsAnywhereAnyValue:
    - position: 1
      name: 'eventsToFake'
